~/demo-github-actions/gha-creds-*.json
~/demo-github-actions/demo-github-actions/gha-creds-*.json
./demo-github-actions/gha-creds-*.json
./demo-github-actions/demo-github-actions/gha-creds-*.json
/home/runner/work/demo-github-actions/demo-github-actions/gha-creds-*.json